html,
body {
  height: 100%;
}
#root {
  height: 100%;
}

.Modal {
  display: none;
}

.App {
  height: 100%;
  min-width: 1000px;
  font-size: 2rem;
  line-height: 2;
  overflow: auto;
  background-color: lightskyblue;
}
